<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>first</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>first</servlet-name>
    <servlet-class>controller.logout</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>first</servlet-name>
    <url-pattern>/logout.java</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>second</servlet-name>
    <servlet-class>controller.viewproduct</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>second</servlet-name>
    <url-pattern>/viewproduct.java</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>third</servlet-name>
    <servlet-class>controller.fetchemployeelist</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>third</servlet-name>
    <url-pattern>/fetchemployeelist.java</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>fourth</servlet-name>
    <servlet-class>controller.calculate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>fourth</servlet-name>
    <url-pattern>/calculate.java</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>four</servlet-name>
    <servlet-class>controller.viewsalary</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>four</servlet-name>
    <url-pattern>/viewsalary.java</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>five</servlet-name>
    <servlet-class>controller.updatesalarydetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>five</servlet-name>
    <url-pattern>/updatesalarydetails.java</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>six</servlet-name>
    <servlet-class>controller.updatesalarydetails2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>six</servlet-name>
    <url-pattern>/updatesalarydetails2.java</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>seven</servlet-name>
    <servlet-class>controller.viewmaterial</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>seven</servlet-name>
    <url-pattern>/viewmaterial.java</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>eight</servlet-name>
    <servlet-class>controller.bill</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>eight</servlet-name>
    <url-pattern>/bill.java</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>eightww</servlet-name>
    <servlet-class>controller.checkdesignation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>eightww</servlet-name>
    <url-pattern>/checkdesignation.java</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>eightwww</servlet-name>
    <servlet-class>controller.vieworder</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>eightwww</servlet-name>
    <url-pattern>/vieworder.java</url-pattern>
  </servlet-mapping>
  
</web-app>