@CHARSET "ISO-8859-1";
#current
{
color:#FFFFFF;
height:35px;
background-color: transparent;
border-color: #333;
cursor:pointer;
width:18%;
font-size: 18px;
font-family: halvetica;
font-weight: 500;
border: 1px solid transparent;
border-radius:5px;
display: inline-block;
background-color: rgb(255,235,205);
border-radius:10px;

color:rgb(51,51,51);

border-color: #333;
	
}